/* BLOCKS ------------------------------------------ */

.form-container {
  height: 100%;
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-container__row {
  display: flex;
  flex-direction: row;
}

.form-neighborhoods {
  flex: 2;
}

.form-prices {
  flex: 1;
}

.form-amenities {
  flex: 1;
}

.form-google-map-container {
  flex: 2;
}

/* ELEMENTS ------------------------------------------ */

.form-prices__list {
  display: flex;
  flex-direction: column;
}

.form-amenities__group {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-amenities__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2.5rem; 
  margin-bottom: 8px;
}

.form-amenities__list-item {
  cursor: pointer;
  font-size: 1.6rem;
  margin-top: 5px;
}

.form-neighborhood__borough-list {
  display: flex;
  justify-content: space-around;
}

.form-neighborhood__borough-list-item {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

/* MODIFIERS ------------------------------------------ */
.form-container__row--2 {
  flex:2;
}

.form-container__row--1 {
  flex:1;
}
