.modal-bronx {
  display: none;
}
.modal-brooklyn {
  display: none;
  
}
.modal-manhattan{
  display: none;
  
}
.modal-queens{
  display: none;
  
}
.modal-staten-island {
  display: none;
  
}

.modal-overlay {
  // display: none;
}